[run]
branch = True
source = gocept.httpserverlayer

[report]
precision = 2
omit = */interfaces.py
       */interfaces/*
       */tests.py
       */tests/*

[html]
directory = coverage-report

[paths]
source =
   src/gocept/httpserverlayer
   .tox/*/lib/python*/site-packages/gocept/httpserverlayer
   .tox/pypy*/site-packages/gocept/httpserverlayer
